@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Inter&family=Lato&family=Silkscreen&display=swap');

* {
  margin: 0;
  font-family: "Gabarito";
  color: #ffffff;
  background-color: #000000;
  caret-color: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons h1 {
  padding: 1rem;
  margin-right: auto;
  font-size: 1rem;
  width: fit-content;
}

button {
  margin: 0.25rem;
  color: black;
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  image-rendering: crisp-edges;
}

button:hover {
  background-color: #949494 !important;
  filter: invert(100%);
}

.video {
  width: 100vw;
  height: 100vh;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#shuffle-button {
  background: url(./images/shuffle-button.png) no-repeat;
  background-color: #fff;
  background-size: 2rem;
}

#prev-button {
  background: url(./images/left-chevron.png) no-repeat;
  background-color: #fff;
  background-size: 2rem;
}

#next-button {
  background: url(./images/right-chevron.png) no-repeat;
  background-color: #fff;
  background-size: 2rem;
  margin-right: 1rem;
}


